@font-face {
  font-family: 'PlayfairDisplay';
  src: url("./fonts/PlayfairDisplay-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("./fonts/PlayfairDisplay-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("./fonts/PlayfairDisplay-Bold.ttf");
  font-style: bold;
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("./fonts/PlayfairDisplay-BoldItalic.ttf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("./fonts/PlayfairDisplay-Black.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("./fonts/PlayfairDisplay-BlackItalic.ttf");
  font-style: italic;
  font-weight: 600;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
