:root{
  --heading-color: #E3DED3;
  --subheading-color: #D7D1C1;
  --body-color: #C9C1B5;
  --bg-color: #89857D;
  --shadow-color: #504E49;
}

@font-face {
  font-family: 'heading';
  src: url("./fonts/PlayfairDisplay-Medium.ttf");
}

@font-face {
  font-family: 'subheading';
  src: url("./fonts/SourceSerifPro-ExtraLightItalic.ttf");
}

@font-face {
  font-family: 'body';
  font-weight: bold;
  src: url("./fonts/SourceSerifPro-SemiBold.ttf");
}

@font-face {
  font-family: 'body';
  src: url("./fonts/SourceSerifPro-Regular.ttf");
}