body {
	margin:0;
	font-family: Yantramanav;
	fill: #6e6e6e;
}

.center-div
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

svg {
	width:700;
	height:500;
	margin:auto;
	display:block;
}

.autocomplete-suggestions{
	background-color: 	#606060;
	height:50px;
	padding-left:2px;
	overflow: hidden;
	line-height:25px;
	color:#E8E8E8
}

#textbox {
	padding:20;
	float:left;
	width: 360;
	margin: auto;
	display:block;
	background-color: #E8E8E8;
	height: 600px;
}

button {
	margin-left: 25px;
	font-size:12;
	font-weight:300;
	color: #282828;
	height: 30px;
font-family: NeueMontreal;
	fill: #6e6e6e;
}

.xAxisLabel,
.yAxisLabel {
	font-size: 0.9em;
	text-anchor: end;

}
